<h2 id="title">ember-showcase</h2>
<p>A set of primitives to showcase interactive code examples</p>

{{!-- BEGIN-SNIPPET demo-usage --}}
<Demo as |demo|>
  {{!-- BEGIN-SNIPPET hello-world--}}
  <div>
    Hello world!
  </div>
  {{!-- END-SNIPPET --}}
  <demo.ui.useSnippet @name="demo-usage.hbs" @language="html" />
  <demo.ui.useSnippet @name="hello-world.hbs" @title="template.hbs" @language="html" />
</Demo>
{{!-- END-SNIPPET --}}
